<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2 style="text-align: center;">About page</h2>
    <p>Name: Md. Abdus Salam Hasan</p>
    <p>Age: 23 years old</p>
    <p>Location: Dhaka</p>
    <p>Studay: Daffodil International University</p>
    <p>Department: Computer Science and Engineering</p>
    <a href="Home.html">Back to Home</a>
</body>
</html>