<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
  </head>
  <body>
    <h2 style="text-align: center">Contact Page</h2>
    <a href="https://www.facebook.com/mdas.hasanas/">Facebook</a>
    <a href="https://www.linkedin.com/in/abdus-salam-hasan-80054a243/"
      >LinkedIn</a
    >
    <a href="01739989028">WhatsApp</a>
    <a href="Home.html">Back to Home</a>
  </body>
</html>
